<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
        <link rel='stylesheet' type='text/css' href='__PUBLIC__/css/mystyle.css'>
            <style>
                html{overflow-x : hidden;}
            </style>
            <base target="main" />
    </head>

    <body >
<div id="logo" class="content">
    <a href="#"><img class="img-responsive" src="images/hmstar.png" alt="黑马Star" title="黑马Star" width="148" height="60"></a>
        <form accept-charset="utf-8" action="/Home/Public/main" class="nav-searchbar" method="GET" name="site-search" role="search">
                <input type='text'  class='nav-input' value="" name='field-keywords' autocomplete='off'data-nav-tabindex="2" >
                <input type="submit" class="nav-search" value="搜索" data-nav-tabindex="3"/>
        </form>
    <div class="clear"></div>
</div>
<div id="nav" class="content">
        <ul>
        <li><a class="nav-home" href="/Home/Public/main"><img src="images/home.png" width="20" height="20" align="texttop"> 首页</a></li>
        <li><a href="/Home/Project/detail">黑马当家</a></li>
        <li><a href="/Home/Vote/main">大家投</a></li>
        <li><a href="/Home/Meet/main">黑马会客室</a></li>
      <li><a href="/Home/Deep/main">黑马深度</a></li>
        <li><a class="a-responsive" href="/Home/Public/contact">合作伙伴</a></li>
    </ul>
    <div class="clear"></div>
</div>
    </body>
</html>
