<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>黑马Star</title>
<link rel='stylesheet' type='text/css' href='__PUBLIC__/css/mystyle.css'>
<link rel='stylesheet' type='text/css' href='__PUBLIC__/css/responsive.css'>
<link type="favicon" rel="shortcut icon" href="images/favicon.ico" />
<base target="main" />
</head>
<body>
<!-- 头部区域 -->
<div id="header" class="header">
<div id="top-bar">
        <div class="content">
        <ul>
                <li><a href="/Home/User/register">用户注册</a><span>-</span></li>
                <li><a href="/Home/User/login">用户登录</a><span>|</span></li>
                <li><a href="#">联系我们</a></li>
        </ul>
        </div>
</div>
</body>
</html>
