/*头部logo*/
.hmstar-header{ width:100%; background:#fff;}
.hmstar-header-content{ width:1160px; margin:0 auto; padding-bottom:28px; }
.hmstar-header-nav{float: right}
.hmstar-logo-header{ width:100%; background:#fff;  position:relative; z-index:113;margin-top: 10px}
.hmstar-logo{ float:left; width:192px; margin-left: 100px}
.hmstar-logo a{ display:block; padding-left:8px; padding-top:36px;}
.hmstar-logo-name{ float:left; margin-top:80px; padding-left:0px; padding-right:30px;}
.hmstar-logo-dropdown{ float:right; margin-top:80px; padding-left:0px; padding-right:30px;}
/*头部搜索*/
.hmstar-logo-search{ width:200px; height:31px; margin-top: 80px;float: right;margin-right: 100px;margin-bottom: 50px;border:2px solid #5bc0de;}
.hmstar-logo-search input{ float:left; border:none; background:none; text-indent:1em; width:200px; padding:5px 0;  }
/*头部下拉*/
/* 菜单导航 */
.hmstar-menu-nav{margin-top:150px;margin-bottom: 0px;position: relative;background-color: #000;border: 1px solid #ccc;border-radius: 5px;}
.hmstar-menu-nav > li {
  display: table-cell;
  width: 1%;
  position: relative;
}
.hmstar-menu-nav > li > a{
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background-color: #000000; /* Old browsers */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:         linear-gradient(to bottom, #000000 0%,#000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  background-repeat: repeat-x; /* Repeat the gradient */
  border-bottom: 1px solid #000;
  display: block;
}
.hmstar-menu-nav > li > a:hover{
  background-image:      linear-gradient(to bottom, #ff0000 0%, #ff0000 100%);
}
.hmstar-menu-nav > .active > a,
.hmstar-menu-nav > .active > a:hover,
.hmstar-menu-nav > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.hmstar-menu-nav > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.hmstar-menu-nav > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}
/* 首页广告栏 */
.hmstar-news{ width: auto; min-width: 100%; overflow:hidden;}
.hmstar-news-box { width: 100%; position: relative; height: 460px; overflow: hidden; margin: 0 auto;}
.hmstar-news-img { width: 1920px; height: 460px; overflow: hidden; position: relative; left: 50%; margin-left: -960px;}
.hmstar-news-img ul{ width:15000px; height: 460px; overflow: hidden; position:relative; z-index:1;}
.hmstar-news-img ul li{ float:left; width: 1920px; height: 460px;}
.preNext-btn{ position:absolute; top:0; left:50%; margin-left:-595px; width:1190px; height:460px; }
.preNext{ width:1190px;  position:relative; z-index:2; }
.preNext .pre,.preNext .next{ position:absolute; width:37px; height:37px; display:none;}
.preNext .pre{  left:40px; top:180px; background:url(/assets/images/index-news3.png) no-repeat; }
.preNext .next{ right:40px; top:180px;background:url(/assets/images/index-news4.png) no-repeat; }
.bg-btn-news{ position:absolute; width:1190px; height:5px; left:0; bottom:50px; z-index:5; text-align:center; }
.bg-btn-news span{ display:inline-block;width:50px; height:5px; overflow:hidden; margin-left:5px; cursor:pointer; background:#000 url(/assets/images/btn_bg1.png) no-repeat; margin-right:15px; }
.bg-btn-news span.on{ background:#000 url(/assets/images/btn_bg2.png) no-repeat;}
/* 首页标签 */
.hmstar-tag{margin-left: 100px;position: relative; margin-right: 100px;}
.hmstar-tag-nav{margin-left: 100px;margin-top: 50px;margin-bottom: 50px;position: relative;}
.hmstar-tag-nav > li {
  display: table-cell;
  border-bottom: 1px solid #e5e5e5;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
.hmstar-tag-nav > li > b {
  font-size: 24px;
  color: #ff0000;
  padding-right: 100px;
}
.hmstar-tag-nav > li > span {
  color: #e5e5e5;
  padding-right: 100px;
  padding-left: 50px;
}
.hmstar-tag-nav > li > a{
  font-size: 18px;
}
.hmstar-tag-nav > li > a:hover{
  background-image:      linear-gradient(to bottom, #ff0000 0%, #ff0000 100%);
}

/*首页商业合作*/
.hmstar-cd{margin-left: 100px;margin-top: 50px;margin-bottom: 50px;margin-right: 100px;position: relative;}
.hmstar-cd-panel-heading{margin-left: 100px;padding: 10px 15px;}
.hmstar-cd-panel-title{color: #000000;font-size: 24px;}
.hmstar-cd-panel-title-small{float: right}
.hmstar-cd-panel-body{margin-left: 120px;border: 1px solid;padding: 15px;height: 300px;margin-top: 10px}
.hmstar-cd-panel-heading-right{margin-left: 10px;padding: 10px 15px;}
.hmstar-cd-panel-title-right{color: #000000;font-size: 24px;}
.hmstar-cd-panel-body-right{margin-left: 30px;border: 1px solid;padding: 15px;height: 300px;margin-top: 10px}


/*首页行业分类*/
.hmstar-industry{margin-left: 100px;margin-top: 500px;margin-bottom: 50px;margin-right: 100px;position: relative;}
.hmstar-industry-header, .hmstar-category-header{margin-left: 100px; margin-top: 100px;}
.hmstar-industry-header, .hmstar-category-header > span{
  color: #e5e5e5;
  font-size: 24px;
}
.hmstar-category{margin-left: 100px;margin-top: 500px;margin-bottom: 50px;margin-right: 100px;position: relative;}

.hmstar-industry-body, .hmstar-category-body{margin-left: 250px; margin-right: 200px;}
.hmstar-industry-body, .hmstar-category-body > table{background-color: #e5e5e5;}
/* 首页大家投 */
.hmstar-vote{margin-left: 100px;margin-top: 50px;margin-bottom: 50px;margin-right: 100px;position: relative;}
.hmstar-vote-header{margin-left: 100px; margin-top: 100px;}
.hmstar-vote-header > span{
  color: #ff0000;
  font-size: 24px;
}
.hmstar-vote-well{padding: 10px;background-color: #f5f5f5;margin-left: 100px;margin-right: 100px;margin-top: 20px;margin-bottom: 20px;}
.hmstar-vote-input > input{padding-left: 20px;margin-left: 30px;}
.hmstar-vote-nav{margin-left: 100px;margin-right: 100px;border-top: 1px solid #ddd;}
.hmstar-vote-nav > li {display: table-cell;}
.hmstar-vote-nav > li.active {background-color: #fff;border: 1px solid #ddd;border-top-color: transparent;}
.hmstar-vote-nav > li > a {display: block;padding: 10px 15px;margin-right: 2px;}
.hmstar-vote-nav > li > a:hover{background-image:      linear-gradient(to bottom, #f5f5f5 0%, #f5f5f5 100%);}
.hmstar-vote-body{margin-left: 100px;margin-right: 100px;margin-top: 50px}
.hmstar-vote-body-thumbnail{display: table-cell;padding: 20px;border: 1px solid;width: 30%;height: 300px}

/* 黑马当家 */
.hmstar-home{margin-top: 50px;margin-left: 100px;margin-right: 100px}
.hmstar-home-header > span{color: #000000; font-size: 24px; padding: 20px}
.hmstar-home-nav{margin-right: 100px;width:60%}
.hmstar-home-nav > li {display: table-cell;border: 1px solid #ddd;}
.hmstar-home-nav > li.active {background-color: #fff;border: 1px solid #ddd;border-top-color: transparent;}
.hmstar-home-nav > li > a {display: block;padding: 10px 15px;margin-right: 2px;}
.hmstar-home-nav > li > a:hover{background-image:      linear-gradient(to bottom, #f5f5f5 0%, #f5f5f5 100%);}
.hmstar-home-body{border: 1px sold #ddd;height: 300px}
/* 大家投 */
.hmstar-vote-detail{margin-top: 50px}
.hmstar-green{background-color: #00ff00}
/* 底部 */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #f5f5f5;
}
