<tagLib name="html" />
<include file="Public:header" />
<div id="main" class="main" >
<div class="content">
<div class="title">用户登录 [ <a href="__CONTROLLER__">返回列表</a> ]</div>
<table cellpadding=3 cellspacing=3>
<form method='post' id="form1" action="__CONTROLLER__/login/" >
<tr>
	<td class="tRight" >用户名：</td>
	<td class="tLeft" ><input type="text" class="medium bLeft" name="username" value=""></td>
</tr>
<tr>
	<td class="tRight" >密码：</td>
	<td class="tLeft" ><input type="text" class="medium bLeft" name="password" value=""></td>
</tr>
<tr>
	<td></td>
	<td class="center">
	<input type="submit" value="登 录" class="small submit">
	<input type="reset" class="submit  small" value="清 空" >
	</td>
</tr>
</table>
</form>
</div>
</div>

